/*.py-4 {
    to delete the padding between nav and content
    padding: 0px!important;
}*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.no-align {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.modal-header {
    background: #343a40;
    color: white;
    font-style: oblique;
    border-color: #343a40;
}

.modal-close-button {
    color: white;
}

/* Style the search field */
.modal-input[type="text"] {
    padding: 10px;
    font-size: 0.9rem;
    border: 1px solid grey;
    float: left;
    width: 80%;
    height: calc(1.6em + 0.75rem + 2px);
    background: #f1f1f1;
}

/* Clear floats */
.modal-input::after {
    content: "";
    clear: both;
    display: table;
}

.modal-input::after {
    content: "";
    clear: both;
    display: table;
}

/* Style the submit button */
.modal-button {
    float: left;
    width: 20%;
    height: calc(1.6em + 0.75rem + 2px);
    background: #2196f3 !important;
    color: white !important;
    font-size: 0.9rem;
    cursor: pointer;
}

.modal-button button:hover {
    background: #0b7dda !important;
}
