/*.py-4 {
    to delete the padding between nav and content
    padding: 0px!important;
}*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.no-align {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.modal-header {
    background: #343a40;
    color: white;
    font-style: oblique;
    border-color: #343a40;
}

.modal-close-button {
    color: white;
}
