/* mixin for multiline */

.ellipsis {
    overflow: hidden;
    position: relative;
    text-align: justify;
    padding-right: 1em;
}

.ellipsis:after {
    content: '...';
    position: absolute;
    right: 1em;
    bottom: 0;
}

.ellipsis:before {
    content: '';
    position: absolute;
    right: 1em;
    bottom: 0;
    width: 1em;
    height: 1.1em;
    margin-top: 0.2em;
    background: white;
}
