.product-img{
    height: 13vh;
    width: 13vh;
}
.price-container{
    height: min-content;
    margin: auto 0;
}
.menu-description{
    max-height: 3em;/* We use max-height instead of height because if we use the last one the ellipsis points will always be shown*/
}
.discount-badge{
    position: relative;
    bottom: 0.5em;
    border-radius: 10px;
}
.before-price{
    text-decoration: line-through;
    color: gray;
}
